# 1. Struktur data

a. List -> List biasanya digunakan untuk menyimpan sekumpulan data yang memiliki kesamaan tipe data, namun kita juga bisa menyimpan beragam tipe data yang berbeda kedalam list.

In [87]:
aList = ['Sisil', 19, 'Tata', 24]

In [88]:
aList

['Sisil', 19, 'Tata', 24]

b. Tuples -> Tupple tidak dapat diubah seperti list, hanya dapat diakses saja.

In [89]:
bin_kota = ('Jakarta', 'Bandung', 'Sukabumi', 'Makasar')
print (bin_kota)

('Jakarta', 'Bandung', 'Sukabumi', 'Makasar')

c. Dictionary -> Data kelompok yang terdiri dari pasangan kunci dan nilai yang tidak bisa diurutkan.

In [90]:
bin_kota = {
    "Jakarta" : "Jakarta Selatan",
    "Tangerang" : "Tangerang Selatan",
    "Jawa" : "Jawa Tengah"
}

In [91]:
print(bin_kota)

{'Jakarta': 'Jakarta Selatan', 'Tangerang': 'Tangerang Selatan', 'Jawa': 'Jawa Tengah'}

In [92]:
 bin_kota.get('Tangerang')

'Tangerang Selatan'

In [93]:
bin_kota['Jawa']

'Jawa Tengah'

d. Sets -> Set memiliki anggota yang unik (tidak ada duplikasi) atau elemen yang tidak diurutkan. Jadi misalnya kalau meletakkan dua anggota yang sama di dalam set, maka otomatis set akan menghilangkan yang salah satunya.

In [94]:
blue = {'Sky', 'Sea'}
print (blue)

{'Sea', 'Sky'}

In [95]:
white = {'Milk', 'Bone'}
print (white)

{'Bone', 'Milk'}

In [96]:
print(f"The union  of white & blue sets is {blue|white}")

The union  of white & blue sets is {'Bone', 'Sea', 'Milk', 'Sky'}

e. DataFrame -> Struktur 2 dimensi untuk menyimpan data 2 dimensi

In [97]:
import pandas as pd
df = pd.DataFrame([
    ['1.', 'Fatin', 'Blue', 'True'],
    ['2.', 'Sarah', 'White', 'True'],
    ['3.','Titan', 'Brown', 'False']])
df.columns = ['no', ' name', 'color', 'decision']
print(df)

   no   name  color decision
0  1.  Fatin   Blue     True
1  2.  Sarah  White     True
2  3.  Titan  Brown    False

# 2. Pseudocode Algoritma Binary Search

Binary search menentukan data tengah & membandingkannya dengan data yang dicari. Jika nanti hasilnya akan sama, maka pencarian berhenti. Bila data lebih besar/lebih kecil, mereka akan bertukar tempat. Tetapi, Binary search ini akan mengurutkan data dari yang terkecil terlebih dahulu, jadi data yang lebih besar akan ditempatkan diterakhir. Bila kasusnya seperti pada soal, maka angka 80 akan bertukar tempat dengan angka 56. Karena, 80 lebih besar dibanding angka 56. Maka urutannya menjadi seperti [13, 25, 37, 42, 56, 80, 97]:

# 3. ['upjbintaro', 'upjjaya', 'upjkampus', 'upjtangsel', 'upj2020']

In [98]:
def commonPrefix(str1,str2):
    n1=len(str1);n2=len(str2)
    i,j=0,0
    s=""
    while i<n1 and j<n2:
        if str1[i]==str2[j]:
            s+=str1[i]
            i+=1
            j+=1
        else:
            break
    return s

In [99]:
def longestCommonPrefix(arr,low,high):
    if low==high:
        return arr[low]
    mid=(low+high)//2
    result1=longestCommonPrefix(arr,low,mid)
    result2=longestCommonPrefix(arr,mid+1,high)
    result=commonPrefix(result1,result2)
    return result

In [100]:
arr=['upjbintaro', 'upjjaya', 'upjkampus', 'upjtangsel', 'upj2020']

In [101]:
result=longestCommonPrefix(arr,0,len(arr)-1)

In [102]:
print (result)

upj

# 4. Urutan Jumlah Mahasiswa & Angkatan

In [142]:
import sys 
jumlah = [89, 103, 225, 150, 78, 96] 

for i in range(len(jumlah)): 
    min = i 
    for j in range(i+1, len(jumlah)): 
        if jumlah[min] > jumlah[j]: 
            min = j
    jumlah[i], jumlah[min] = jumlah[min], jumlah[i] 

 
print ("Tahun Banyak mahasiswa") 
for i in range(len(jumlah)): 
  def tahun(x):
    switcher = { 
        89:"2015",
        103: "2016",
        225: "2017",
        150: "2018",
        78: "2019",
        96: "2020",
      }
    return switcher.get(x, "invalid year")

for i in range(len(jumlah)):
  x = jumlah[i]
  print( tahun(x)," ", jumlah[i])

Tahun Banyak mahasiswa
2019   78
2015   89
2020   96
2016   103
2018   150
2017   225